.navbar {
  backdrop-filter: blur(10px);
}

.nav-link {
  font-family: Playfair;
  font-size: 1.5rem;
  border-right: 1px solid lightgray;
}

body {
  background: radial-gradient(ellipse at center right, #683d1a, #cfb585);
}

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero-levi-headshot {
  max-height: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
  filter: drop-shadow(40px 40px 40px rgba(0, 0, 0, 0.5));
}

.hero-levi-name {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10%, -50%);
}

.hero-levi-name h1 {
  font-family: "Great Vibes", cursive;
  font-size: 12rem;
  text-shadow: 40px 40px 40px rgba(0, 0, 0, 0.5);
}
